*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2vh;
}
.nav-link{
    color: rgba(0, 0, 0, 0.801);
    font-size: 3.2vw;
    margin: 0 1vw 0 1vw;
      font-family: 'Lora', serif;
      border-radius: 50%;
      padding: 1.5vw 1.5vw 1.5vw 1.5vw;
}
.nav-link:hover{
    color: white;
    background-color: #00293aff;
    border-radius: 5px;
}
.nav-img{
    height: 12vw;
    margin: 0 1rem 0 1rem;
}
.welcome-container {
    display: grid;
    grid-template-columns: 1.7fr 0.5fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
      "welcome-text main-photo";
      margin-top: 2rem;
      overflow: hidden;
  }
  .welcome-text {
    display: grid;
    grid-template-rows: 20vw 20vw 20vw;
    grid-auto-flow: row;
    grid-template-areas:
      "slogan"
      "slogan-small"
      "cta-btn";
    grid-area: welcome-text;
    padding-left: 4vw;
  }
  .side-text{grid-area: side-text; display: none;}
  .outstanding-txt{font-weight: 600; color: #00293aff;}
  .slogan { grid-area: slogan; font-size: 5.5vw; font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-weight: 600;}
  
  .slogan-small { grid-area: slogan-small;font-size: 3.4vw;   font-family: 'Lora', serif; font-weight: 100;}
  
  .cta-btn { grid-area: cta-btn; box-shadow: 4px 24px 40px #6d6dad65; margin-bottom: 1.1em; height: 14vw; width: 30vw; border-radius: 18px; border: none; background-color: #00293aff; color: rgb(255, 255, 255);   font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-size: 4vw; font-weight: 500;}
  
  .main-photo { grid-area: main-photo; width: 220%; margin: 4vh 0 0 -23vw; z-index: -1;}

.navy-container{
    background-color: #00293aff; color: white;
    padding: 8vw 0 20vw 0;
}
.white-container{
    background-color: rgb(255, 255, 255);
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
}
.container-header{
    width: 100%;
    text-align: center;
    font-size: 4vw;
}
.container-header h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 8vw;
}
.header{float: left; margin: 1rem 4vw 1rem;}
#treatments-container{padding: 3vw 0 10vw 0; z-index: 100;    box-shadow: 0px 12px 20px rgba(0, 41, 58, 0.267);}
.treatments{display: flex; flex-wrap: wrap; justify-content: center; width: 100%; height: auto;}
.treatment{
    width: 18vw;
    height: 18vw;
    padding: 0.8vw 0.8vw 0.8vw 0.8vw;
    border: solid 1.5px white;
    border-radius: 12px;
    margin: 1vw 2vw 1vw 2vw;
    display: grid; 
    grid-template-rows: 65% 35%; 
    gap: 0px 0px; 
    grid-template-areas: 
    "treatment-img"
    "treatment-txt"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center;
    font-size: 2vw;
    overflow: hidden;
}
.treatment-img {
    max-height: 70%;
    grid-area: treatment-img; 
    max-width: 60%;
}
.treatment-txt { grid-area: treatment-txt;  font-family: 'Lora', serif; text-align: center; color: white;}
#clinic-container{
    display: grid; 
    grid-template-rows: 30vw 65vw auto; 
    grid-template-areas: 
      "container-header"
      "clinic-img"
      "about-text"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
    padding-bottom: 6vw;
    overflow: hidden;
    margin: 15vw 0 15vw 0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.171), 0 -12px 24px rgba(0, 0, 0, 0.178);
}
.clinic-img{grid-area: clinic-img; height: 65vw; border-radius: 20px;}
#more-clinic-text{display: none;}
#hide-clinic-container{display: none;}
.hide-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.more-btn{
    background-color: transparent; border: none;
    cursor: pointer;
}
.button-container{
    display: flex; width: 100%; justify-content: center; margin-top: 10vw;
}
#about-container{
    display: grid; 
    grid-template-rows: 30vw 87vw auto; 
    grid-template-areas: 
      "container-header"
      "about-photo"
      "about-text"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
    padding-bottom: 6vw;
}
.container-header { grid-area: container-header;}
.about-photo { grid-area: about-photo; height: 87vw; width: 65vw; background-image: url("../images/practitioner.jpeg"); background-size: cover; border-radius: 20px;}
.about-text { grid-area: about-text; margin: 8vw 6vw 1rem;}
#more-about-text{
    display: none;
}
#more-about-btn{
    color: white;
}
#hide-about-btn{
    filter: brightness(0) invert(1);
}
#hide-about-container{display: none;}
.btn-img{height: 10vw;}
.opinions{
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    height: 130vw;
    overflow: hidden;
    padding-bottom: 3vw;
}
.opinions.show{height: auto;}
.opinion-container{
    margin: 0 auto; 
    width: 80vw; 
    height: auto;
    box-shadow: 0 10px 20px #00003d49;
    margin: 4vw 0 4vw 0;
    padding: 3vw 3vw 3vw 3vw;
    border-radius: 4vw;
    display: grid; 
    grid-template-columns: 20% 50% 30%; 
    grid-template-rows: 0.8fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "avatar name stars"
      "avatar description description"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
    opacity: 0;
  }
  .opinion-container.active{opacity: 1; transition: all 1s ease; transform: scale(1.04);}
  #more{display: none;}
 #more-btn, #hide-btn{background-color: transparent; border: none; font-size: 4vw; margin: 4vw 30% 0 30%;}
  .avatar { grid-area: avatar; height: 17vw; margin-left: 0.8vw;}
  .name { grid-area: name; overflow: hidden; font-size: 4vw; margin-left: 0.4vw;   font-family: 'Montserrat', sans-serif;
 font-weight: 400;}
  .description { grid-area: description; font-size: 2.8vw; margin: 2vw 0 2vw 4vw;   font-family: 'Lora', serif; font-weight: 500;}
  .stars { grid-area: stars; width: 22vw;}
  
.more-opinions{
    margin: 3vw 40% 0 40%;
    color: black; font-family: 'Lora', serif; font-size: 5vw;
    background-color: transparent; border: none;
}
#contact-container{
    margin-top: 20vw;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}   
.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#email-input{
    height: 8vw;
    width: 50%; 
    margin-top: 1.5rem;
}
#message-input{
    height: 8vw;
    width: 70%; 
}
.send-btn{
    width: 20%;
    padding: 0.3rem 0 0.3rem 0;
    border: solid white 1px;
    background-color: rgba(0, 41, 58, 0);
    color: white;   font-family: 'Montserrat', sans-serif;
 font-weight: 400;
    border-radius: 8px;
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }
  ::-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }

.input{
    margin: 0rem 15% 2rem 15%;
    border-radius: 15px;
    border: solid white 1.5px;
    background-color: rgba(0, 41, 58, 0);
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
      font-family: 'Montserrat', sans-serif;
 font-weight: 400;
    color: white;
}
footer{
    background-color: #00293aff; 
    border-top: #ab9b76ff 1px solid; 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 30vw 24vw 34vw; 
    grid-template-areas: 
      "footer-logo"
      "social-media"
      "footer-contact"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
}
.footer-logo{
    margin-top: 2vh;
    width: 50%;
    grid-area: footer-logo; 
}
.footer-links{display: none;}
.media-logo{
    background-position: center;
    background-size: cover;
    width: 8vw;
    height: 8vw;
    display: block;
    margin: 0 7vw 0 7vw;
}
.social-media{
    grid-area: social-media;
    height: 3rem;
    margin-top: 2vh;
    display: flex;
    justify-content: right;
}
#facebook{
    background-image: url("../images/fbicon.png");
}
#insta{
    background-image: url("../images/insta_icon.png");
}
#whatsapp{
    background-image: url("../images/whatsappicon.png");
}
.footer-contact{
    color: rgba(255, 255, 255, 0.705);
    grid-area: footer-contact;
    font-size: 3vw;
    text-align: center;
    font-weight: 100;
      font-family: 'Lora', serif;
    margin-bottom: 2vh;
}
.privacy-policy{color: rgba(255, 255, 255, 0.493);}

  @media(min-width: 1200px){
    .navbar{
        padding: 2vh 0 1vh 0;
    }
    .nav-img{
        height: 8vw;
    }
    .welcome-container{
        height: 79vh; 
        margin-top: 0vh; 
        grid-auto-rows: 64vh 24vh;
        grid-template-columns: 1.5fr 0.5fr 0.1fr;
        grid-template-areas:
      "welcome-text main-photo side-text";
        align-items: center;
    }
      .nav-link{
        font-size: 1.6vw;
        margin: 0 4vw 0 4vw;
        font-weight: 100; font-family: 'Lora', serif;
      }
    .slogan {font-size:4vw; font-weight: 400;}
    .slogan-small {font-size: 2.5vw;}
    .cta-btn {font-size: 2vw; height: 6vw; width: 18vw;}
    .main-photo {width: 130%; margin: 20vh 0 0 -10vw;}
    .welcome-text {
      margin-top: 14vh;
      padding-left: 6vw;
      align-items: center;
      grid-gap: 3vh;
      grid-template-rows: 1fr 1fr 1fr;
      
    }
    .white-container{padding: 10vh 0 15vh 0;}
    .navy-container{padding: 0;}
    .container-header h2{
        margin-bottom: 2vw;
        font-size: 3vw;
    }
    #treatments-container{
        padding: 2vw 0 5vw 0;
    }
    .treatment{
        width: 8vw;
        height: 8vw;
        padding: 0.8vw 0.8vw 0.8vw 0.8vw;
        border-radius: 12px;
        margin: 0.5vw 1vw 0.5vw 1vw;
        font-size: 1vw;
    }

    .opinions{height: 80vh;}
    .opinion-container{
        width: 18vw; 
        height: 24vw;
        margin: 4vw 4vw 4vw 4vw; 
        grid-template-columns: 1fr; 
        grid-template-rows: 30% 25% 10% 40%; 
        gap: 0px 0px; 
        grid-template-areas: 
          "avatar"
          "name"
          "stars"
          "description"; 
          border-radius: 10px;
      }
      .avatar {height: 7vw; margin: 5vh 0 0 0;}
      .name {font-size: 1.6vw; margin: 4vh 0 0 0; text-align: center;}
      .description {font-size: 1.2vw; margin: 1vh 0 0 0; text-align: center;}
      .stars { grid-area: stars; width: 10vw;}
      #more-btn{font-size: 2vw; margin: 3vw 40% 0 40%;}
      #contact-container{
          width: 80%;
          margin: 0 auto;
          padding: 10vh 0 10vh 0;
          margin-bottom: 14vh;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          box-shadow: 4px 24px 60px #00000096;
      }
      #email-input{
        height: 6vh;
        font-size: 1.5vw; 
    }
    #message-input{
        margin-top: 3vh;
        font-size: 1.5vw; 
    }
    .send-btn{
        padding: 1vh 0 1vh 0;
        border: solid white 2px;
        font-size: 1.5vw;
    }
    footer{
        grid-template-columns: 20vw 45vw 35vw; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "footer-logo footer-contact social-media";
        justify-content: center; 
          font-family: 'Lora', serif;
    }
    .footer-logo{
        width: 80%;
    }
    .media-logo{
        width: 3vw;
        height: 3vw;
        margin: 0 4vw 0 4vw;
    }
    .social-media{
        margin-top: 0vh;
    }
    .footer-text{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 30px; 
        grid-template-areas: 
          "footer-contact footer-links"; 
        justify-content: center; 
        justify-items: center; 
        align-items: center; 
        margin-left: 8vw;
    }
    .footer-contact{
        margin: 8vh 0 3vh 0;
        grid-area: footer-contact;
        font-size: 1vw;
        text-align: left;
    }
    .footer-links{display: block; margin: 8vh 0 3vh 0; font-size: 1vw; color: rgba(255, 255, 255, 0.705);}
  }