*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}
.nav-link{
    color: rgba(0, 0, 0, 0.801);
    font-size: 3.2vw;
    margin: 0 1.9vw 0 1.9vw;
    font-family: 'DM Sans', sans-serif;
}
.nav-img{
    height: 12vw;
    margin: 0 1rem 0 1rem;
}
.welcome-container {
    display: grid;
    grid-template-columns: 1.8fr 0.5fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
      "welcome-text main-photo";
      margin-top: 2rem;
  }
  
  .welcome-text {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "slogan"
      "slogan-small"
      "cta-btn";
    grid-area: welcome-text;
    padding-left: 4vw;
  }
  
  .slogan { grid-area: slogan; font-size: 5.5vw; font-family: 'Montserrat', sans-serif; font-weight: 600;}
  
  .slogan-small { grid-area: slogan-small;font-size: 3.4vw; font-family: 'DM Sans', sans-serif; font-weight: 100;}
  
  .cta-btn { grid-area: cta-btn; box-shadow: 4px 24px 40px #6d6dad65; margin-bottom: 1.1em; height: 14vw; width: 30vw; border-radius: 25px; border: none; background-color: #00293aff; color: white; font-family: 'Montserrat', sans-serif; font-size: 4vw; font-weight: 500;}
  
  .main-photo { grid-area: main-photo; width: 140%; margin: 2rem 0 0 -12vw; z-index: -1;}

.navy-container{
    background-color: #00293aff; color: white;
    padding: 8vw 0 20vw 0;
}
.white-container{
    background-color: rgb(255, 255, 255);
    padding: 8vw 0 20vw 0;
}
.container{
    width: 100%;
    border-radius: 30px;
}
.container-header{
    width: 100%;
    text-align: center;
    font-size: 4vw;
}
.container-header h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 8vw;
}
.header{float: left; margin: 1rem 4vw 1rem;}
#treatments-container{padding: 3vw 0 10vw 0; margin-top: -0.1rem; z-index: 100;}
.treatments{display: flex; flex-wrap: wrap; justify-content: center; width: 100%; height: auto;}
.treatment{
    width: 18vw;
    height: 18vw;
    padding: 0.8vw 0.8vw 0.8vw 0.8vw;
    border: solid 1.5px white;
    border-radius: 12px;
    margin: 1vw 2vw 1vw 2vw;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 65% 35%; 
    gap: 0px 0px; 
    grid-template-areas: 
    "treatment-img"
    "treatment-txt"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center;
    font-size: 2vw;
    overflow: hidden;
}
.treatment-img {
    max-height: 70%;
    grid-area: treatment-img; 
    max-width: 60%;
}
.treatment-txt { grid-area: treatment-txt;font-family: 'DM Sans', sans-serif; text-align: center; color: white;}
.clinic-img{
    width: 90vw;
    height: 67vw;
    background-image: url("../images/image0.jpeg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 24px 40px #6d6dad65;
}
.clinic-about{
    padding: 8% 5% 8% 5%;
    width: 34%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    font-size: 2.8vw; font-family: 'DM Sans', sans-serif;
}
.about{display: flex; padding: 0 5% 0 4vw; width: 90%;} 
.about-photo{
    width: 41vw;
    height: 55vw;
    border-radius: 5px;
}
.about-texts{
    width: 45%;
    height: 20vh;
    font-size: 3vw;
    margin-left: 10%;
    font-family: 'DM Sans', sans-serif;
}
.transformations-btn{
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    padding-left: 0.7vw;
    border: white solid 2px;
    background-color: rgba(0, 41, 58, 0);
    color: white;
    font-size: 5vw;
    float: right;
    margin-top: 1rem 3rem 0 0;
    text-align: center;
}
.opinions{
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}
.opinion-container{
    margin: 0 auto; 
    width: 80vw; 
    height: 23vw;
    box-shadow: 4px 24px 60px #6d6dad49;
    margin: 4vw 0 4vw 0;
    padding: 0.8vw 2.4vw 2.4vw 2.4vw;
    border-radius: 4vw;
    display: grid; 
    grid-template-columns: 20% 50% 30%; 
    grid-template-rows: 10vw 12vw; 
    gap: 0px 0px; 
    grid-template-areas: 
      "avatar name stars"
      "avatar description description"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 

  }
  .avatar { grid-area: avatar; height: 17vw; margin-left: 0.8vw;}
  .name { grid-area: name; overflow: hidden; font-size: 4vw; margin-left: 0.4vw; font-family: 'Montserrat', sans-serif;}
  .description { grid-area: description; font-size: 2.6vw; margin: 1.2vw 0 4vw 4vw; font-family: 'DM Sans', sans-serif; font-weight: 500;}
  .stars { grid-area: stars; width: 22vw;}

.more-opinions{
    margin: 0 40% 0 40%;
    color: black; font-family: 'Lora', serif;
}
#contact-container{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}   
.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#email-input{
    width: 50%; 
    margin-top: 1.5rem;
}
#message-input{
    width: 70%; 
}
.send-btn{
    width: 20%;
    padding: 0.3rem 0 0.3rem 0;
    border: solid white 1px;
    background-color: rgba(0, 41, 58, 0);
    color: white; font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }
  ::-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }

.input{
    margin: 0rem 15% 2rem 15%;
    border-radius: 5px;
    border: solid white 1.5px;
    background-color: rgba(0, 41, 58, 0);
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #00293aff; 
    border-top: #ab9b76ff 1px solid; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "footer-logo social-media"
      "footer-logo footer-contact"; 
}
.footer-logo{
    width: 90%;
    margin: 5rem 0 0 1rem;
    grid-area: footer-logo; 
}
.media-logo{
    background-position: center;
    background-size: cover;
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    margin: 1.8rem 0.8rem 0 1rem;
}
.social-media{
    grid-area: social-media;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: right;
}
#facebook{
    background-image: url("../images/fbicon.png");
}
#insta{
    background-image: url("../images/path4537.png");
}
#whatsapp{
    background-image: url("../images/whatsappicon.png");
}
.footer-contact{
    max-width: 100%;
    color: rgba(255, 255, 255, 0.705);
    grid-area: footer-contact;
    font-size: 0.6rem;
    text-align: left;
    margin: -0.5rem 0 01rem 1.6rem;
    font-weight: 100;
    font-family: 'DM Sans', sans-serif;
}
  
.copyright{float: right; margin-right: 0.4rem; margin-top: 0rem;}
  @media(min-width: 1200px){
  }