*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2vh;
}
.nav-link{
    color: rgb(0, 0, 0);
    font-size: 3.2vw;
    margin: 0 1vw 0 1vw;
      
      border-radius: 50%;
      padding: 1.5vw 1.5vw 1.5vw 1.5vw;
      font-weight: 500;
}
.nav-link:hover{
    color: white;
    background-color: #00293aff;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.right-link{margin-left: -1vw;}
.left-link{margin-right: -1vw;}
.nav-img{
    height: 17vw;
    margin: 0 1rem 0 1rem;
}
.welcome-container {
    display: grid;
    grid-template-columns: 1.7fr 0.5fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
      "welcome-text main-photo";
      margin-top: 2rem;
      overflow: hidden;
  }
  .welcome-text {
    display: grid;
    grid-template-rows: 20vw 20vw 20vw;
    grid-auto-flow: row;
    grid-template-areas:
      "slogan"
      "slogan-small"
      "cta-btn";
    grid-area: welcome-text;
    padding-left: 4vw;
  }
  .side-text{grid-area: side-text; display: none;}
  .outstanding-txt{font-weight: 600; color: #00293aff;}
  .slogan { grid-area: slogan; font-size: 5.5vw; font-weight: 600; margin-top: 5vw;}
  
  .slogan-small { grid-area: slogan-small;font-size: 3vw; font-weight: 500;}
  
  .cta-btn { grid-area: cta-btn; box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.239); margin-bottom: 1.1em; height: 14vw; width: 30vw; border-radius: 30px; border: none; background-color: #00293aff; color: rgb(255, 255, 255);   font-family: 'Montserrat', sans-serif;
 font-weight: 400; font-size: 4vw; font-weight: 500;text-align: center;line-height: 14vw;}
  
  .main-photo { grid-area: main-photo; width: 220%; margin: 4vh 0 0 -23vw; z-index: -1;}

.navy-container{
    background-color: #00293aff; color: white;
    padding: 8vw 0 20vw 0;
}
.white-container{
    background-color: rgb(255, 255, 255);
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
}
.container-header{
    width: 100%;
    text-align: center;
    font-size: 4vw;
}
.container-header h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.white-header{font-weight: 600 !important;}
.header{ margin: 1rem 4vw 1rem;}
.stages{margin-top: 3.2vw;}
.stage-container{width: 100%; display: flex; justify-content: center; flex-wrap: wrap;}
.stage-number{height: 16vw; margin: 8vw 35% 3vw 35%;}#first-stage{margin-top: 2vw;}
.stage-header{ color: white; text-align: center; margin: 2vw 0 3vw 0; font-family: 'Montserrat', sans-serif;}
.stage-desc{text-align: center; color: #ffffffda; margin: 0 5vw 0 5vw; font-size: 3.7vw;}
#treatments-container{padding: 3vw 0 10vw 0;}
.treatments{display: flex; flex-wrap: wrap; justify-content: center; width: 100%; height: auto;}
.treatment{
    width: 24vw;
    height: 24vw;
    padding: 2vw;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    margin: 5vw 2.5vw 1vw 2.5vw;
    display: grid; 
    grid-template-rows: 65% 35%; 
    grid-template-areas: 
    "treatment-img"
    "treatment-txt"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center;
    font-size: 2vw;
    overflow: hidden;
    opacity: 0;
}
.treatment.active{opacity: 1; transition: all 1s ease; transform: scale(1.04);}
.white-block{
    margin: 0 auto; 
    width: 80vw; 
    height: auto;
    box-shadow: 0 10px 20px #00003d49;
    margin: 4vw 0 4vw 0;
    padding: 3vw 3vw 3vw 3vw;
    border-radius: 30px;
}
.treatment:hover{transition: all 0.8s ease; border: solid 1.5px white; transform: scale(1.1); box-shadow: 0 5px 30px rgba(0, 0, 0, 0.616);}
.treatment-img {
    max-height: 70%;
    grid-area: treatment-img; 
    max-width: 60%;
}
#face{max-height: 80%; max-width: 70%; margin: 1vw 1vw 0 0 }
#mouth{margin-top: 2.5vw;}
.treatment-txt { grid-area: treatment-txt; text-align: center; color: #000000; font-size: 3vw; font-weight: 700;}

#about-container{
    padding-top: 0;
    display: grid; 
    grid-template-rows: 25vw 65vw auto; 
    grid-template-areas: 
      "container-header"
      "about-photo"
      "about-text"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
    padding-bottom: 6vw;
}
.container-header { grid-area: container-header;}
.about-photo { grid-area: about-photo; height: 65vw; width: 87vw; box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.239); background-image: url("../images/practitioner.jpg"); background-size: cover; border-radius: 20px;}
.about-text { grid-area: about-text; padding: 8vw 6vw 1rem; }
#more-about-text{
    display: none;
}
#more-about-btn{
    color: white;
}
#hide-about-btn{
    filter: brightness(0) invert(1);
}
#hide-about-container{display: none;}
.btn-img{height: 10vw;}
#opinions-header{padding: 5vw 0 0 0vw;}
.opinions{
    width: 100%; 
    height: auto;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    overflow: hidden;
    padding-bottom: 3vw;
}
.opinion-container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.4fr 1.3fr; 
    grid-template-areas: 
      "stars quote-before"
      "description description"; 
    opacity: 0;
  }
  .opinion-container.active{opacity: 1; transition: all 1s ease; transform: scale(1.04);}
  #more-opinions{display: none; flex-wrap: wrap; width: 100%; justify-content: center;}
 #more-opinions-btn, #hide-opinions-btn{background-color: transparent; cursor: pointer; border: none; font-size: 4vw; margin: 4vw 30% 0 30%;}
 #hide-opinions-btn{margin-top: 10vw;}
  .quote-before { grid-area: quote-before; height: 4vw;  margin-left: 30vw; margin-top: 2vw;}
  .description { grid-area: description; font-size: 3.2vw; margin: 2vw 4vw 0vw 4vw;  font-weight: 4500;}
  .stars { grid-area: stars; width: 25vw; margin-top: 2vw;  margin-left: 4vw;}
  
.more-opinions{
    margin: 3vw 40% 0 40%;
    color: black;  font-size: 5vw;
    background-color: transparent; border: none;
}
#clinic-container{
    display: grid; 
    grid-template-rows: 25vw 65vw auto; 
    grid-template-areas: 
      "container-header"
      "clinic-img"
      "about-text"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
    padding: 0 0 6vw 0;
    overflow: hidden;
    margin: 15vw 0 15vw 0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.171), 0 -12px 24px rgba(0, 0, 0, 0.178);
}
.clinic-img{grid-area: clinic-img; height: 65vw; width: 87vw; border-radius: 20px;box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.239);}
#more-clinic-text{display: none;}
#hide-clinic-container{display: none;}
.hide-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.more-btn{
    background-color: transparent; border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.button-container{
    display: flex; width: 100%; justify-content: center; margin-top: 10vw;
}
.testimonials{padding: 0 5vw 0 5vw;}
.testimonials-text{font-size: 4vw; color: #000000; margin-top: 4vw;}
.testimonials-block{opacity: 0;padding: 5vw 3vw 5vw 3vw; display: flex; overflow: hidden; margin: 6vw 0 6vw 0; font-weight: 500;}
.testimonials-block p{padding: 2vw 1vw 2vw 3vw;}
.testimonials-block.active{opacity: 1; transition: all 1s ease; transform: scale(1.04);}
.testimonials-tab{width: 7vw; height: 9vw; margin-top: -5vw;}
.testimonials-under{margin-top: 10vw !important; }
#contact-container{
    margin-top: 20vw;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}   
.contact-form{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#email-input{
    height: 8vw;
    width: 50%; 
    margin-top: 1.5rem;
}
.err-txt{position: absolute; margin-top: 22vw; font-size: 3vw; display: none;}
.err-txt.show{display: block;}
#message-input{
    height: 24vw;
    width: 70%; 
}
.send-btn{
    width: 30%;
    padding: 0.3rem 0 0.3rem 0;
    border: solid white 1px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);   font-family: 'Montserrat', sans-serif;
 font-weight: 400;
    border-radius: 12px;
}
.send-btn.active{background-color: rgb(255, 255, 255); color: #00293aff;}
::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }
  ::-ms-input-placeholder {
    color: rgb(255, 255, 255);
  }

.input{
    margin: 0rem 15% 2rem 15%;
    border-radius: 20px;
    border: solid white 1.5px;
    background-color: rgba(0, 41, 58, 0);
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
      font-family: 'Montserrat', sans-serif;
 font-weight: 400;
    color: white;
}
.email-input.error{border: 3px solid white;}
.initial-consultations{padding: 0 5vw 0 5vw; text-align: left;}
#initial-consultation-header{text-align: left; margin-top: 10vw; font-size: 4vw; font-family: 'Montserrat', sans-serif;}
#initial-consultations-text-more{text-align: left; font-size: 3vw; display: none; color: #ffffffda;}
.consultation-pros{margin: 3vw 0 0 6vw;}
.initial-consultation-text{font-size: 3vw; margin-top: 3vw; color: #ffffffda;}
#more-contact-btn{font-size: 3vw;}
footer{
    background-color: #00293aff; 
    border-top: #ab9b76ff 1px solid; 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 30vw 25vw 45vw 10vw; 
    grid-template-areas: 
      "footer-logo"
      "social-media"
      "footer-contact"
      "footer-adress"; 
    justify-content: center; 
    justify-items: center; 
    align-items: center; 
}
.footer-logo{
    margin-top: 2vh;
    width: 50%;
    grid-area: footer-logo; 
}
.footer-links{display: none;}
.media-logo{
    background-position: center;
    background-size: cover;
    width: 9vw;
    height: 9vw;
    display: block;
    margin: 0 7vw 0 7vw;
}
.social-media{
    grid-area: social-media;
    height: 3rem;
    margin: 3vh 0 3vh 0;
    display: flex;
    justify-content: right;
}
#facebook{
    background-image: url("../images/fbicon.png");
}
#insta{
    background-image: url("../images/insta_icon.png");
}
#whatsapp{
    background-image: url("../images/whatsappicon.png");
}
.footer-contact{
    color: rgba(255, 255, 255, 0.705);
    grid-area: footer-contact;
    font-size: 3vw;
    text-align: center;
    font-weight: 100;
      
      margin: 2vh 0 2vh 0;
}
#policy-desktop{display: none;}
.footer-adress{
    grid-area: footer-adress;
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
    font-weight: 100;
    
    font-size: 3vw;
    margin-bottom: 2vw;
}
.privacy-policy{color: rgba(255, 255, 255, 0.493);}

  @media(min-width: 1200px){
    .navbar{
        padding: 2vh 0 1vh 0;
    }
    .nav-img{
        height: 10vw;
    }
    .welcome-container{
        height: 79vh; 
        margin-top: 0vh; 
        grid-auto-rows: 64vh 24vh;
        grid-template-columns: 1.5fr 0.5fr 0.1fr;
        align-items: center;
    }
      .nav-link{
        font-size: 2vw;
        margin: 0 4vw 0 4vw;
        font-weight: 100; 
      }
    .slogan {font-size: 5vw; font-weight: 400;}
    .slogan-small {font-size: 2.5vw;}
    .cta-btn {font-size: 2vw; height: 6vw; width: 18vw; line-height: 6vw;}
    .main-photo {width: 135%; margin: 20vh 0 0 -10vw;}
    .welcome-text {
      margin-top: 16vh;
      padding-left: 6vw;
      align-items: center;
      grid-gap: 0vh;
      grid-template-rows: 25vh 25vh 25vh;
    }
    .white-container{padding: 0}
    .navy-container{padding: 0;}
    .container-header h2{
        margin-bottom: 2vw;
        font-size: 3vw;
    }
    .container{opacity: 1;}
    .header{ margin: 1rem 0vw 1rem;}
    #stages-header{margin: 3vw 0 0 0vw;}
    .stages{display: flex; justify-content: center; width: 100%; margin-top: 1vw; padding-bottom: 6vw;}
    .stage-container{width: 33vw; opacity: 1;}
    .stage-number{height: 7vw; margin: 1vw 35% 0vw 35%;}#first-stage{margin-top: 1vw;}
    .stage-header{margin: 1vw 0 1vw 0; font-size: 2vw;}
    .stage-desc{text-align: left; color: #ffffffda; margin: 0 5vw 0 5vw; font-size: 1vw;}
    #treatments-header{padding: 2vw 0 0 4vw;}
    #treatments-container{
        padding: 2vw 0 5vw 0;
        opacity: 1;
    }
    .treatment{
        width: 18vw;
        height: 18vw;
        padding: 0.8vw 0.8vw 0.8vw 0.8vw;
        border-radius: 20px;
        margin: 2vw 2vw 1vw 2vw;
        font-size: 1vw;
        cursor: pointer;
        opacity: 1;
    }
    .treatment-img {
        max-height: 50%;
        max-width: 50%;
    }
    #face{max-height: 60%; max-width: 60%; margin: 1vw 1vw 0 0 }
    .treatment-txt {font-size: 2vw; font-weight: 700;}
    #clinic-container{
        display: grid; 
        grid-template-rows: 10vw 25vw auto; 
        grid-template-columns: 40vw 50vw; 
        grid-template-areas: 
          "container-header container-header"
          "clinic-img about-text"; 
        margin: 5vw 0 5vw 0;
        padding-bottom: 9vw;
    }

    .clinic-img{height: 30vw; width: 40vw; margin-top: 5vw; margin-left: 0;}
    #more-clinic-text{display: inline !important;}
    .more-btn{
        display: none;
    }
    .about-text {font-size: 1.3vw; border-left: solid 2px rgba(0, 41, 58, 0.5); padding: 0vw 2vw 1rem; margin: 2vw 0 0 4vw}
    #about-container{
        grid-template-rows: 10vw 15vw 15vw; 
        grid-template-columns: 50vw 44vw; 
        grid-template-areas: 
          "container-header container-header"
          "about-text about-photo"
          "about-text about-photo"; 
    }
    .about-photo { grid-area: about-photo; height: 30vw; width: 40vw;}
    #about-practitioner-text{padding: 0 2vw 0 0; margin: 1vh 4vw 0 0;border-right: solid 2px rgba(255, 255, 255, 0.5);}
    #more-about-text{display: inline;}
    .btn-img{height: 3vw;}
    #hide-opinions-btn{margin: 2vh 48% 8vh 48%;}
    .opinion-container{
        opacity: 1;
        width: 18vw; 
        height: 24vw;
        margin: 4vw 4vw 4vw 4vw; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.2fr 1.8fr 0.2fr; 
        grid-template-areas:
          "quote-before" 
          "description"
          "stars"; 
          border-radius: 30px;
          justify-content: center;
          align-items: center;
      }
      .quote-before { grid-area: quote-before; height: 2vw; margin-left: 15vw; margin-top: 0vw;}
      .description {font-size: 1.2vw; margin: 0; text-align: center;}
      .stars { grid-area: stars; width: 10vw; margin: 0 auto;}
      #more-opinions-btn{font-size: 2vw; margin: 1vw 40% 5vw 40%;}
      .testimonials-text{font-size: 1.6vw; margin-top: 1vw;}
      .testimonials-containers{display: flex; width: 100%; justify-content: center;}
      .testimonials-block{width: 12vw; height: 12vw; align-items: center; opacity: 1; padding: 2vw 2vw 2vw 2vw; margin: 4vw 3vw 4vw 3vw; font-weight: 700;}
      .testimonials-block p{padding:4vw 0vw 2vw 0vw; font-size: 1.05vw;}
      .testimonials-tab{position: absolute; width: 3vw; height: 4vw; margin-top: -6.4vw;}
      .testimonials-under{margin-top: 1vw !important; margin-bottom: 8vw;}
        #contact-container{          margin: 0 auto;
          padding: 10vh 0 10vh 0;
          margin-bottom: 14vh;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          box-shadow: 4px 24px 60px #00000096;
          width: 80%;
      }
      #email-input{
        height: 6vh;
        font-size: 1.5vw; 
    }
    .err-txt{position: absolute; margin-top: 7vw; font-size: 1vw;}
    #message-input{
        margin-top: 3vh;
        height: 6vw;
        font-size: 1.5vw; 
    }
    .send-btn{
        padding: 1vh 0 1vh 0;
        border: solid white 2px;
        font-size: 1.5vw;
        margin-top: 4vh;
        cursor: pointer;
    }
    .initial-consultations{padding: 0 5vw 0 5vw;}
    #initial-consultation-header{margin-top: 3vw; font-size: 2vw;}
    #initial-consultations-text-more{text-align: left; font-size: 1vw;}
    .consultation-pros{margin: 3vw 0 0 6vw;}
    .initial-consultation-text{font-size: 1vw; margin-top: 1.5vw;}
    #more-contact-btn{font-size: 1vw; display: inline;}
    footer{
        grid-template-columns: 20vw 45vw 35vw; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "footer-logo footer-contact social-media";
        justify-content: center; 
          
    }
    #policy-desktop{display: block;}#policy-mobile{display: none;}
    .footer-adress{
        font-size: 1vw;
        text-align: left;
        margin: 2vh 0 6.2vh 0;
    }
    .footer-logo{
        width: 80%;
        margin-top: 0;
    }
    .media-logo{
        width: 3vw;
        height: 3vw;
        margin: 0 4vw 0 4vw;
    }
    .social-media{
        margin-top: 2vh;
    }
    .footer-text{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 30px; 
        grid-template-areas: 
          "footer-contact footer-links footer-adress"; 
        justify-content: center; 
        justify-items: center; 
        align-items: center; 
        margin-left: 4vw;
    }
    .footer-contact{
        margin: 6vh 0 6vh 0;
        font-size: 1vw;
        text-align: left;
    }
    .footer-links{display: block; margin: 6vh 0 6vh -3vw; font-size: 1vw; color: rgba(255, 255, 255, 0.705);}
  }