*{
    margin: 0;
    padding: 0;
}
.page-header{
    border-bottom: solid 2px #00293aff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 2vh 0 2vh;
    top: 0;
    background-color: #00293aff;
    color: white;
    z-index: 100;
    width: 100%;
    position: fixed;
    font-size: 4vw;
}
.page-title{
    text-align: center;
}
.transformations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#first-transformation{
    margin-top: 12vh;
}
.transformation{
    height: 68vw;
    width: 80vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 8px;
}
.transformation.active{
    transition: 1s ease;
    transform: scale(1.08);
    box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.267);
}