<!DOCTYPE html>
<html>
    <head>
        <title>BeautyPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/style/confirmation.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content="">
    </head>
    <body>
        <img class="logo background" src="../static/images/beautypro_navy.png"></img>
        <h1 class="main-message">MESSAGE SENT!</h1>
        <div class="tick-container"><img class="tick-img" src="../static/images/tick-img.png"></div>
        <h2 class="thanks-txt">Thanks for your feedback!</h2>
        <p class="affirmation">I'll respond as soon as I possibly can.</p>
        <a class="backlink" th:href="@{/}">Homepage</a>
    </body>
</html>