<!DOCTYPE html>
<html>
    <head>
        <title>BeautyPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../style/main.css">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content=" ">
        
    </head>
    <body>
        <div class="navbar">
            <a class="nav-link" href="#">portfolio</a>
            <a class="nav-link" href="#">about</a>
            <img class="nav-img" src="../static/images/logo-beauty.PNG">
            <a class="nav-link" href="#">offer</a>
            <a class="nav-link" href="#">contact</a>
        </div>
        <div class="welcome-container">
            <div class="welcome-text">
                <h1 class="slogan">DISCOVER THE MORE<br> ATTRACTIVE YOU</h1>
                <h3 class="slogan-small">Thanks to professionally performed anti aging treatments!</h3>
                <button class="cta-btn">Book now</button>
            </div>
            <img class="main-photo" src="../static/images/paula.jpeg">
        </div>
        <div class="container" id="navy-container">
            <div class="container-header">
                <img class="number" src="../static/images/one-white.png">
                <h2>TREATMENTS</h2>
            </div>
            <div class="treatments">
                <div class="treatment"><img class="treatment-img" src="../static/images/anti_wrinkle.png"><p class="treatment-txt">Botox injections</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/sweat.png"><p class="treatment-txt">Excessive sweating hyperhidosis</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/tooth.png"><p class="treatment-txt">Teeth grinding</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/face.png"><p class="treatment-txt">Facials</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/mouth.png"><p class="treatment-txt">Dermal filters</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/skin.png"><p class="treatment-txt">Skin boosters</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/scale.png"><p class="treatment-txt">Weight managment</p></div>
                <div class="treatment"><img class="treatment-img" src="../static/images/injection.png"><p class="treatment-txt">Vitamin injections</p></div>
            </div>
        </div>

        <div class="container" id="white-container">
            <div class="container-header">
                <img class="number" src="../static/images/two.png">
                <h2>MY CLINIC</h2>
            </div>
            <div class="clinic-img">
                <div class="about-clinic">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p><br><br>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
                </div>
            </div>
        </div>

        <div class="container" id="navy-container">
            <div class="container-header">
                <img class="number" src="../static/images/one-white.png">
                <h2>ABOUT ME</h2>
            </div>
            <div class="about">
                <img class="about-photo">
                <p class="about-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. </p><br><br>
                <p>Here are transformations of my clients:</p>
                <button>></button>
            </div>
        </div>

        <div class="container" id="white-container">
            <div class="container-header">
                <img class="number" src="../static/images/two.png">
                <h2>OPINIONS</h2>
            </div>
            <div class="opinions">
                <div class="about-clinic">
                    <div class="opinion-container"><img><h4 class="name" src="">TRUDY WILSON</h4><img class="stars" src=""><p class="descripiton"></p></div>
                    <div class="opinion-container"><img><h4 class="name" src="">TRUDY WILSON</h4><img class="stars" src=""><p class="descripiton"></p></div>
                    <div class="opinion-container"><img><h4 class="name" src="">TRUDY WILSON</h4><img class="stars" src=""><p class="descripiton"></p></div>
                    <a href="#">More...</a>
                </div>
            </div>
        </div>

        <div class="container" id="navy-container">
            <div class="container-header">
                <img class="number" src="../static/images/one-white.png">
                <h2>CONTACT ME</h2>
            </div>
            <form>
                <input type="email" placeholder="Email">
                <textarea placeholder="Message..."></textarea>
                <button>Send</button>
            </form>
        </div>

        <footer>
            <img class="footer-logo">
            <div class="social-media">
                <a class="instagram" href="#"></a>
                <a class="facebook" href="#"></a>
                <a class="whatsapp" href="#"></a>
            </div>
            <p class="email">beautypro.aesthetic@gmail.com</p>
            <p class="tel">+44 753 392 9709</p>
            <a href="#">Privacy policy</a>
            <p class="copyright">@2021 Piotr Gerke</p>
        </footer>
    </body>
</html>