<!DOCTYPE html>
<html>
    <head>
        <title>BeautyPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../style/main.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content="">
        
    </head>
    <body>
        <div class="navbar">
            <a class="nav-link" href="#">portfolio</a>
            <a class="nav-link" href="#">about</a>
            <img class="nav-img" src="../images/logo-beauty.PNG">
            <a class="nav-link" href="#">offer</a>
            <a class="nav-link" href="#">contact</a>
        </div>
        <div class="welcome-container">
            <div class="welcome-text">
                <h1 class="slogan">DISCOVER THE MORE<br> ATTRACTIVE YOU</h1>
                <h3 class="slogan-small">Thanks to professionally performed anti aging treatments!</h3>
                <button class="cta-btn">Book now</button>
            </div>
            <img class="main-photo" src="../images/paula.jpeg">
        </div>
        <div class="container" id="navy-container">
            <div class="container-header">
                <h2 class="header">TREATMENTS</h2>
            </div>
            <div class="treatments">
                <div class="treatment"><img class="treatment-img" src="../images/anti_wrinkle.png"><p class="treatment-txt">Botox injections</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/sweat.png"><p class="treatment-txt">Excessive sweating hyperhidosis</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/tooth.png"><p class="treatment-txt">Teeth grinding</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/face.png"><p class="treatment-txt">Facials</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/mouth.png"><p class="treatment-txt">Dermal filters</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/skin.png"><p class="treatment-txt">Skin boosters</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/scale.png"><p class="treatment-txt">Weight managment</p></div>
                <div class="treatment"><img class="treatment-img" src="../images/injection.png"><p class="treatment-txt">Vitamin injections</p></div>
            </div>
        </div>

        <div class="container" id="white-container">
            <div class="container-header">
                <h2 class="header">MY CLINIC</h2>
            </div>
            <div class="clinic-img">
                <div class="clinic-about">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p><br><br>
                    <p>Ut enim ad miniiquip ex ea commodo consequat. Duis auderit in voluptate velit esse cillum dolore eu fugiat</p>
                </div>
            </div>
        </div>

        <div class="container" id="navy-container">
            <div class="container-header">
                <h2 class="header">ABOUT ME</h2>
            </div>
            <div class="about">
                <img class="about-photo" src="../images/image3.jpeg">
                <div class="about-texts">
                <p class="about-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. </p><br><br>
                <p>Here are transformations of my clients:<br><button class="transformations-btn">></button></p>
            </div>

            </div>
        </div>

        <div class="container" id="white-container">
            <div class="container-header">
                <h2 class="header">OPINIONS</h2>
            </div>
            <div class="opinions">
                <div class="opinion-container">
                    <img class="avatar" src="../images/avatar1.png">
                    <h4 class="name" src="">TRUDY WILSON</h4>
                    <img class="stars" src="">
                    <p class="description">I’ve loved going to Beauty Pro Aesthetics Clinic , Paulina is so professional, talks me through every treatment, her advise is amazing... read more</p>
                </div>
                <div class="opinion-container">
                    <img class="avatar" src="../images/avatar2.png">
                    <h4 class="name" src="">TRUDY WILSON</h4>
                    <img class="stars" src="">
                    <p class="description">I’ve loved going to Beauty Pro Aesthetics Clinic , Paulina is so professional, talks me through every treatment, her advise is amazing... read more</p>
                </div>
                <div class="opinion-container">
                    <img class="avatar" src="../images/avatar3.png">
                    <h4 class="name" src="">TRUDY WILSON</h4>
                    <img class="stars" src="">
                    <p class="description">I’ve loved going to Beauty Pro Aesthetics Clinic , Paulina is so professional, talks me through every treatment, her advise is amazing... read more</p>
                </div>
              
                <a class="more-opinions" href="#">More...</a>
            </div>
        </div>

        <div class="container" id="navy-container">
            <div class="container-header">
                <h2 class="header">LET'S KEEP IN TOUCH!</h2>
            </div>
            <form class="contact-form">
                <input class="input" id="email-input" type="email" placeholder="Email">
                <textarea class="input" id="message-input" placeholder="Message..."></textarea>
                <button class="send-btn">Send</button>
            </form>
        </div>

        <footer>
            <img class="footer-logo" src="../images/beautypro_navy.png">
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100011194814784" class="media-logo" id="facebook"></a>
                <a href="https://www.instagram.com/gerke.p/" class="media-logo" id="insta"></a>
                <a href="https://github.com/Gerkep" class="media-logo" id="whatsapp"></a>
            </div>
            <div class="footer-contact">
                <p class="email">beautypro.aesthetic@gmail.com</p><br>
                <p class="tel">+44 753 392 9709</p><br>
                <a href="#">Privacy policy</a><br><br>
                <p class="copyright">@2021 Piotr Gerke</p>
            </div>
        </footer>
    </body>
</html>