<!DOCTYPE html>
<html>
    <head>
        <title>BeautyPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../style/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content="">
    </head>
    <body>
        <div class="navbar">
            <a class="nav-link" th:href="@{/transformations}">portfolio</a>
            <a class="nav-link left-link" href="#clinic-container">about</a>
            <img class="nav-img" src="../images/logo-beauty.PNG">
            <a class="nav-link right-link" th:href="@{/pricing}">offer</a>
            <a class="nav-link" href="#contact-container">contact</a>
        </div>
        <div class="welcome-container">
            <div class="welcome-text">
                <h1 class="slogan">DISCOVER THE MORE<br> <p class="outstanding-txt">ATTRACTIVE YOU</p></h1>
                <h3 class="slogan-small">Thanks to professionally performed<br> anti aging treatments!</h3>
                <a href="#contact-container" class="cta-btn"><b>Book now</b></a>
            </div>
            <img class="main-photo" src="../images/illustration_paulina.png">
        </div>
        <div class="container navy-container" id="treatments-container">
            <div class="container-header">
                <h2 class="header" id="treatments-header">TREATMENTS</h2>
            </div>
            <div class="treatments">
                <a th:href="@{/pricing}" class="treatment"><img class="treatment-img" src="../images/anti_wrinkle.png"><p class="treatment-txt">Botox injections</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#exessive-sweating-hyperdosis" class="treatment"><img class="treatment-img" src="../images/sweat.png"><p class="treatment-txt">Sweating hyperhidosis</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#teeth-grinding" class="treatment"><img class="treatment-img" src="../images/tooth.png"><p class="treatment-txt">Teeth grinding</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#facials" class="treatment"><img class="treatment-img" id="face" src="../images/face.png"><p class="treatment-txt">Facials</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#dermal-filters" class="treatment"><img class="treatment-img" src="../images/mouth.png"><p class="treatment-txt">Dermal filters</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#skin-boosters" class="treatment"><img class="treatment-img" src="../images/skin.png"><p class="treatment-txt">Skin boosters</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#weight-managment" class="treatment"><img class="treatment-img" src="../images/scale.png"><p class="treatment-txt">Weight managment</p></a>
                <a href="https://beauty-pro.herokuapp.com/pricing#vitamin-injections" class="treatment"><img class="treatment-img" src="../images/injection.png"><p class="treatment-txt">Vitamin injections</p></a>
            </div>
        </div>

        <div class="container white-container appearing" id="clinic-container">
            <div class="container-header">
                <h2 class="header">ABOUT OUR CLINIC</h2>
            </div>
            <img class="clinic-img" src="../images/clinic-img.jpg">
            <div class="about-text">
                <p>
                    BeautyPro is a pharmacist led, non-surgical medical Aesthetics Clinic which provides a range of treatments including anti – aging treatment, injected fillers, facial peels, dermal fillers, and a selection of cosmeceutical skincare.<button onclick="viewMoreClinic()" class="more-btn" id="more-clinic-btn"><b>...read more</b></button><br><br>
                    <p id="more-clinic-text">
                        We are committed to delivering a high quality and bespoke service to all patients from consultation right through to treatment and aftercare.
                        Every treatment and product available to our clients, <b>including prescription only treatments</b>, has been chosen based on their safety, efficacy, and clinically proven results.<br><br>
                        Our mission is to provide our clients with the best possible care to restore and rejuvenate their skin. 
                        We believe in offering natural looking results that will help our clients match their appearance with how they really feel on the inside.
                    </p> 
                    <div class="button-container" id="hide-clinic-container">
                        <button onclick="hideMoreClinic()" class="hide-btn" id="hide-clinic-btn"><img class="btn-img" src="../images/hide-button.png"></button>
                   </div>
                </p>
            </div>
        </div>

        <div class="container navy-container appearing" id="about-container">
            <div class="container-header" id="about-containerheader">
                <h2 class="header">OUR PRACTITIONER</h2>
            </div>
            <div class="about-photo"></div>
            <div class="about-text" id="about-practitioner-text">
                <p>
                    All treatments are provided by <b>Paulina Halagiera</b>, our founder and director, who is a medically Qualified Practitioner (currently working towards Level 7 qualifications) and an Independent Prescribing Pharmacist<button onclick="viewMoreAbout()" class="more-btn" id="more-about-btn"><b>...read more</b></button><br><br> 
                </p>
                <p id="more-about-text">
                    Her passion for aesthetic medicine and constant desire to improve her knowledge of skincare ensures that she stays up to date in the dynamic skincare world and its latest technologies.<br><br>
                    Paulina takes pride in delivering excellent customer service whilst performing bespoke aesthetic treatments. Paulina is professional, approachable, and sure to make clients secure, confident and at ease in her hands.
                    <br><br>“It is and honour for me to help my clients match their look with what they really feel on the inside, to improve their skin and the way they feel about themselves, to boost their confidence and with that they can better their opportunities in life.”
                    <div class="button-container" id="hide-about-container">
                         <button onclick="hideMoreAbout()" class="hide-btn" id="hide-about-btn"><img class="btn-img" src="../images/hide-button.png"></button>
                    </div>
                </p>
            </div>
        </div>

        <div class="container white-container" id="opinions-container">
            <div class="container-header">
                <h2 class="header" id="opinions-header">OPINIONS</h2>
            </div>
            <div class="opinions" id="opinions">
                <div class="opinion-container">
                    <img class="avatar" src="../images/avatar-1.png">
                    <h4 class="name"><b>TRUDY WILSON</b></h4>
                    <img class="stars" src="../images/stars.png">
                    <p class="description">I’ve loved going to Beauty Pro Aesthetics Clinic , Paulina is so professional, talks me through every treatment, her advise...</p>
                </div>
                <div class="opinion-container">
                    <img class="avatar" src="../images/avatar5.png">
                    <h4 class="name"><b>DIANNE DALEY</b></h4>
                    <img class="stars" src="../images/stars.png">
                    <p class="description">Brilliant service and really good at putting the client at ease. Highly recommend.</p>
                </div>
                
                <div class="opinion-container">
                    <img class="avatar" src="../images/avatar3.png">
                    <h4 class="name"><b>JANE STOCKILL</b></h4>
                    <img class="stars" src="../images/stars.png">
                    <p class="description">Paulina is very professional and makes you feel at ease. She did my lips natural exactly how I wanted them. Would recommend 100%.</p>
                </div>
                 <button class="more-opinions" id="more-opinions-btn" onclick="showMore()">More...</button>
                <div id="more-opinions">
                    <div class="opinion-container">
                        <img class="avatar" src="../images/avatar4.png">
                        <h4 class="name"><b>SOPHIE G Bower</b></h4>
                        <img class="stars" src="../images/stars.png">
                        <p class="description">Would 110% recommend Paulina @ The beauty pro aesthetic clinic, after only two visits my skin is flawless! Extremely professional & knowledgeable</p>
                    </div>
                    <div class="opinion-container">
                        <img class="avatar" src="../images/avatar2.png">
                        <h4 class="name"><b>EWA PIWONSKA</b></h4>
                        <img class="stars" src="../images/stars.png">
                        <p class="description">I am impressed with Paulina's knowledge, professionalism and how well she interpreted my skin needs and wishes. It was...</p>
                    </div>
                    <div class="opinion-container">
                        <img class="avatar" src="../images/avatar6.png">
                        <h4 class="name wrapped"><b>KINGA KOCIKOWSKA</b></h4>
                        <img class="stars" src="../images/stars.png">
                        <p class="description">Thank you so much for beautiful lips they looks natural and hydrating I have been looking for that effect. I'm satisfied with the service it was pleasant ambience...</p>
                    </div>
                    <div class="opinion-container">
                        <img class="avatar" src="../images/avatar7.png">
                        <h4 class="name wrapped"><b>CAROLINE RUGGIERO</b></h4>
                        <img class="stars" src="../images/stars.png">
                        <p class="description">never had lip fillers before and was so nervous but Paulina made me feel so relaxed and I absolutely love my new 💋 lips!!!</p>
                    </div>
                    <button onclick="hideOpinions()" class="less-opinions" id="hide-opinions-btn"><img class="btn-img" src="../images/hide-button.png"></button>
            </div>
            </div>
        </div>

        <div class="container navy-container" id="contact-container">
            <div class="container-header">
                <h2 class="contact-header">LET'S KEEP IN TOUCH!</h2>
            </div>
            <form autocomplete="off" th:action="@{/send}" method="POST" class="contact-form">
                <input class="input" id="email-input" type="email" th:field="${mail.sender}" placeholder="Email">
                <textarea class="input" id="message-input" th:field="${mail.text}" placeholder="Message..."></textarea>
                <button class="send-btn" type="submit">Send</button>
            </form>
        </div>

        <footer>
            <img class="footer-logo" src="../images/beautypro_navy.png">
            <div class="social-media">
                <a href="https://www.facebook.com/BeautyPro-Aesthetic-Clinic-102175348461558" class="media-logo" id="facebook"></a>
                <a href="https://www.instagram.com/beautypro_aesthetic_clinic/" class="media-logo" id="insta"></a>
                <a href="https://api.whatsapp.com/send?phone=447533929709&app=facebook&entry_point=page_cta&fbclid=IwAR1199qDWU7MDb8itJIUay0D6UnPTG1z-T4h1z7VclYGAVut_4ukaVfCccY" class="media-logo" id="whatsapp"></a>
            </div>
            <div class="footer-text">
                <div class="footer-contact">
                    <p><b>Contact me:</b></p><br>
                    <p class="email">beautypro.aesthetic@gmail.com</p><br>
                    <p class="tel">+44 7533 929709</p><br>
                    <a class="privacy-policy" href="../privacy-policy.pdf">Privacy policy</a>
                </div>
                <div class="footer-links">
                    <p><b>Find out more:</b></p><br>
                    <a th:href="@{/pricing}">Offer</a><br><br>
                    <a th:href="@{/transformations}">Portfolio</a><br><br>
                    <a href="#about-container">About me</a>
                </div>
            </div>
        </footer>
        <script src="../js/Animation.js"></script>
        <script src="../js/moreOpinions.js"></script>
        <script src="../js/moreDescriptions.js"></script>
    </body>
</html>