<!DOCTYPE html>
<html>
    <head>
        <title>Pricing | BeautyPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../style/pricing.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,500|Montserrat:400,600" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content="">
    </head>
    <body>
        <div class="page-header">
            <a class="back-btn" href=""></a>
            <h1 class="page-title">TREATMENTS</h1>
        </div>
        <a th:href="@{/}" class="back-btn"></a>
        <div class="treatments">
        <div class="treatments-container about" id="botox-injections">
            <h2 class="treatment-header">BOTOX INJECTIONS</h2>
            <p class="about-treatments"><b>forehead / frown lines / crows feet</b></p>
            <div class="treatment-names">
                    <p class="treatment-name"><b>One area</b></p><br>
                    <p class="treatment-name"><b>Two areas</b></p><br>
                    <p class="treatment-name" id="three-areas"><b>Three areas</b></p><br>
                    <p class="treatment-name"><b>Brow lift</b></p><br>
                    <p class="treatment-name"><b>Smokers lines</b></p><br>
                    <p class="treatment-name"><b>Chin crease (Pebble chin)</b></p><br>
                    <p class="treatment-name"><b>Mouth corner lift</b></p><br>
                    <p class="treatment-name"><b>Neck lines</b></p><br>
                    <p class="treatment-name"><b>Jawline slimming</b></p><br>
                    <p class="treatment-name"><b>Bunny lines</b></p><br>
            </div>
            <div class="treatment-pricing">
                    <p class="treatment-price">£130</p><br>
                    <p class="treatment-price">£180</p><br>
                    <p class="treatment-price">£220</p><br>
                    <p class="treatment-price">from £40*</p><br>
                    <p class="treatment-price">from £40*</p><br>
                    <p class="treatment-price">from £40*</p><br>
                    <p class="treatment-price">from £40*</p><br>
                    <p class="treatment-price">from £40*</p><br>
                    <p class="treatment-price">from £180*</p><br>
                    <p class="treatment-price">from £140*</p><br>
            </div>
            <p class="disclaimer">*price if booked as additional treatment during one appointment</p>
            </div>
        <div class="treatments-container about" id="dermal-filters">
            <h2 class="treatment-header">DERMAL FILTERS</h2>
            <p class="about-treatments"><b>marionette lines / nose to mouth / lips / cheeks</b></p>
                <div class="treatment-names">
                    <div class="treatment-name"><p class="treatment"><b>Revolax 1ml</b></p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>Premium filter (juvederm)</b></p></div><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">£160</p><br>
                    <p class="treatment-price">from £200</p><br>
                </div>
        </div>
        <div class="treatments-container" id="teeth-grinding">
            <h2 class="treatment-header">TEETH GRINDING</h2>
                <div class="treatment-names">
                    <div class="treatment-name"><p class="treatment"><b>Series of small injections</b></p></div><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">from £200</p><br>
                </div>
        </div>
        <div class="treatments-container" id="exessive-sweating-hyperdosis">
            <h2 class="treatment-header">EXESSIVE SWEATING HYPERDOSIS</h2>
                <div class="treatment-names">
                    <div class="treatment-name"><p class="treatment"><b>Series of small injections</b></p></div><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">£300</p><br>
                </div>
        </div>
        <div class="treatments-container" id="facials">
            <h2 class="treatment-header">FACIALS</h2>
                <div class="treatment-names">
                    <div class="treatment-name"><p class="treatment"><b>Chemical peel</b></p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>Express microneedling</b></p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>Microneedling with chemical peel</b></p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>BioRePeel</b></p></div><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">£50</p><br>
                    <p class="treatment-price">£50</p><br>
                    <p class="treatment-price">£50</p><br>
                    <p class="treatment-price">£60</p><br>
                </div>
        </div>
        <div class="treatments-container" id="skin-boosters">
            <h2 class="treatment-header">SKIN BOOSTERS</h2>
                <div class="treatment-names">
                    <div class="treatment-name"><p class="treatment"><b>Profhilio</b></p><p class="frequency">/session</p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>Sunekos</b></p><p class="frequency">/first session</p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>Sunekos</b></p><p class="frequency">/follow up session</p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>YKN HA3</b></p><p class="frequency">/session</p></div><br>
                    <div class="treatment-name"><p class="treatment"><b>Jalupro</b></p><p class="frequency">/session</p></div><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">£200</p><br>
                    <p class="treatment-price">£140</p><br>
                    <p class="treatment-price">£120</p><br>
                    <p class="treatment-price">£130</p><br>
                    <p class="treatment-price">£100</p><br>
                </div>
        </div>
        <div class="treatments-container" id="weight-managment">
            <h2 class="treatment-header">WEIGHT MANAGMENT</h2>
                <div class="treatment-names">
                    <p class="treatment-name"><b>Ozempic injection</b></p><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">£158</p><br>
                </div>
        </div>
        <div class="treatments-container" id="vitamin-injections">
            <h2 class="treatment-header">VITAMIN INJECTIONS</h2>
                <div class="treatment-names">
                    <p class="treatment-name"><b>Vitamin B12 shot</b></p><br>
                </div>
                <div class="treatment-pricing">
                    <p class="treatment-price">£30</p><br>
                </div>
        </div>
    </div>
    <script src="../js/Animation.js"></script>
    </body>
</html>