<!DOCTYPE html>
<html>
    <head>
        <title>Transformations | BeautyPro</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/style/transformations.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
        <meta name="description" content="">
    </head>
    <body>
        <div class="page-header">
            <a class="back-btn" href=""></a>
            <h1 class="page-title">TRANSFORMATIONS</h1>
        </div>
        <div class="transformations">
            <img class="transformation" src="../static/images/image0 (2).png"> 
        </div>
    </body>
</html>